  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

   ::-webkit-scrollbar {
    display: none;
  }

  body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    border-radius: 6px;
  }

  button:focus {
    outline: none;
  }

  #code {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    border: 1px solid yellow;
    overflow: scroll;
  }

  .bear {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
  }

  .bear * {
    box-sizing: content-box;
  }

  .cover::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 100px;
    top: 70%;
    left: 0;
    background: #fff;
    transform: rotate(-18deg);
  }

  @media (max-width: 700px) {
    #code {
      margin: 0;
      border: 1px solid yellow;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 30%;
      width: 100%;
    }
    .bear {
      margin: 0;
      width: 100%;
      border: 1px solid red;
      position: fixed;
      top: 30%;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }